.header {
  margin-top: 50px;
}

.nav_bar {
  z-index: 20;
  position: fixed;
  width: 100%;
}

.nav_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 80px;
  border: 1px double red;
  height: 85px;
  backdrop-filter: blur(7px) !important;
  max-width: 1100px;
  margin: auto;
}

.nav_menu {
  display: flex;
  list-style: none;
  margin-top: 15px;
}
/* .nav_menu a {
  padding: 10px 6px;
} */
.nav_links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  /* border-bottom: 3px solid transparent; */
  text-decoration: none !important;
}

.fa-code {
  margin-left: 1rem;
}

.nav_item {
  line-height: 32px;
  margin-right: 1rem;
}

.nav_item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
}
.socials_media img {
  margin: 0px 5px;
}

.nav_item .active {
  background: linear-gradient(180deg, #4a7cf4 0%, #1aeae9 100%);
  border-radius: 40px;
  color: #000;
  padding: 10px 40px;
}
.nav_item .active:hover {
  color: #000;
}
.nav_item a {
  color: #fff;
}

.nav_icon {
  display: none;
}

.logo_container {
  cursor: pointer;
}
.socials_media_sidebar {
  display: none;
}
.socials_media {
  cursor: pointer;
}

@media screen and (max-width: 1001px) {
  .nav_menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    position: absolute;
    top: 68px;
    /* left: -110%; */
    /* top: 59px; */
    opacity: 1;
    transition: all 0.5s ease;
    display: none;
  }

  .nav_menu.active {
    background: #000;
    /* left: 0px; */
    left: -1%;
    top: 69px;
    display: block;
    opacity: 1;

    z-index: 1;
    height: 600px;
    text-align: center;
    padding-top: 34px;
  }

  .nav_links {
    width: 100%;
    display: table;
  }

  .nav_icon {
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #fff;
  }

  .img__logo {
    width: 130px !important;
  }
  .fixed-nav_bar {
    display: none;
  }

  .nav_logo {
    display: block;
  }
  .nav_item {
    margin: 20px 10px;
  }
  .nav_bar {
    justify-content: flex-start;
  }
  .logo_container {
    margin-left: 0px;
  }
  .socials_media {
    display: none;
  }
  .socials_media_sidebar {
    display: block;
  }
  .socials_media_sidebar img {
    margin: 0px 10px;
  }
}
@media only screen and (max-width: 1300px) {
  .nav_menu a {
    margin: 10 px 0px;
  }
}
